:root {
    --primary: #394867;
    --secondary: #2f66d4;
    --hover: #a2d9f5;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --border: .2rem solid rgba(0, 0, 0, .1);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  }

  * {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }

  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
  }

  /* Header */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: var(--white);
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
  }

  .header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #002964;
  }

  .header .logo i {
    color: #2b466c;
    padding-right: .15rem;
  }

  .header .navbar a {
    font-size: 1.7rem;
    color: #3a4c69;
    margin: 0 1rem;
    transition: color 0.5s ease, font-weight 0.3s ease;
  }

  .header .navbar a:hover {
    color: #002964;
  }

  .header .navbar a:active {
    transform: scale(0.95);
    /* Add a slight scale effect when the link is clicked */
  }

  .btn {
    display: inline-block;
    padding: 1.1rem 3rem;
    border-radius: .5rem;
    background: var(--primary);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--white);
    letter-spacing: 1px;
  }

  .btn:hover {
    background: #597baa;
  }

  /* Hero */
  .hero {
    background: url('https://raw.githubusercontent.com/loriiqw/medicare/main/young-handsome-physician-medical-robe-with-stethoscope%20(2).jpg') center/cover no-repeat;
    padding: 200px 9%;
    height: 100vh;
  }

  .hero .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
  }

  .hero .main img {
    max-width: 400px;
  }

  .hero .content {
    max-width: 550px;
    font-family: 'Playfair Display', serif;
    color: var(--light-bg);
  }

  .hero .content h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4.6rem;
    letter-spacing: 2px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding-bottom: 15px;
    color: #EEF5FF;
    /* Gold color, adjust as needed */
  }

  .hero .content p {
    text-align: justify;
    max-width: 550px;
    font-family: "Barlow", sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--light-bg);
    letter-spacing: 1px;
    padding-bottom: 15px;
    margin-bottom: 2rem;
    /* Add margin-bottom for spacing */
    line-height: 1.5;
    /* Adjust the line-height value as needed */
  }


  .hero .content .form1 {
    margin-top: 2rem;
    max-width: 550px;
  }

  .hero .content .input {
   
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: baseline;
   
  }

  .hero .content .input input {
    flex: 1;
    height: 50px;
    font-size: 1.6rem;
    padding: 8px;
    /* Adjust the padding as needed */
    border: 2px solid var(--light-bg);
    border-radius: 6px;
    outline: none;
  }

  .hero .content .input button {
    border: none;
    background-color: var(--primary);
    padding: 15px 30px;
    /* Adjust the padding as needed */
    font-size: 1.6rem;
    color: var(--white);
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 6px;

    transition: background-color 0.3s ease, color 0.3s ease;
    /* Include color transition */
  }

  .hero .content .input button:hover {
    background-color: #597baa;
  }

  /* consultation form */
  .consultation {
    background-color: #f0f6fe;
    display: flex;
    background-size: cover;
    /* Set background size to cover */
    background-position: center;
    /* Center the background image */
    padding: 70px 0;
    text-align: center;
  }

  .image-container {
    flex: 1;
    /* Take up remaining space in the flex container */
    display: flex;
    justify-content: left;
    /* Align content to the start (left) */
  }

  .image-container img {
    max-width: 100%;
    /* Adjust the maximum width of the image */
    height: auto;
    /* Maintain the image's aspect ratio */
    margin-right: 40px;
    /* Increase margin to move the image more to the left */
  }

  .appointment-form {
    flex: 1;
    text-align: left;
    max-width: 500px;
    /* Adjust the max-width for the form */
    margin-right: 150px;
    background-color: #fff;
    /* Set a background color for the form */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .appointment-form h2 {
    font-family: Arial, sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: bolder;
    color: #002964;
    text-align: center;

  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    font-size: 14px;
  }

  input,
  select {
    width: 100%;
    padding: 9px;
    margin-top: 3px;
    box-sizing: border-box;
    border: 1px solid #272626;
    border-radius: 10px;
    background-color: transparent;
  }

  select {
    cursor: pointer;
  }

  .form-group-inline {
    display: flex;
    justify-content: space-between;
  }

  .form-group-inline div {
    flex-basis: 48%;
  }

  button {
    background-color: #1283cf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;

  }

  /* Styles for the  Section */
  .contact {

    width: 100%;
    background-color: #4e6b94;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 70px 0;
  }

  .contact h2 {
    color: #EEF5FF;
    margin-bottom: 20px;
    font-size: 40px;
  }

  .contact p {
    color: #f1f6fc;
    line-height: 2rem;
    padding: 0;
    text-align: center;
    font-size: 17px;
  }

  .cont-container {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0px;
    text-align: center;
  }

  .cont {
     
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* Ensures equal height for flex items */
    flex-wrap: wrap;
    letter-spacing: 1px;
    
    width: 72%;
    gap: 2px;
    margin: 0 auto;
  }

  .cont>div {
    margin: 10px;
    flex: 1;
    padding: 30px;
    background-color: #fbfbfb;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(50, 128, 309, 0.2); /* Updated box-shadow */
    transition: transform 0.3s ease;
    flex-direction: column;
  }

  .cont>div:hover {
    transform: scale(1.05);
  }

  .cont h3 {
    font-size: 20px;
    color: var(--primary);
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  }

  .cont p {
    font-size: 15px;
    color: #666666;
    margin-bottom: 16px;
    text-align: justify;
    line-height: 1.7rem;
  }

  .cont p1 {
    font-size: 15px;
    color: #1b32b6;
    text-align: justify;
    font-weight: bold;
  }
  .visit {
    order: -1;
  }
  .visit .icon,
  .call .icon,
  .cta .icon {
    font-size: 20px;
    color: #1283cf;

  }
  
/* Style for FAQ section */
#faq-section {
  padding: 70px 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the container horizontally */
}

/* Style for each FAQ item */
.faq {
  margin-bottom: 20px;
  position: relative;
  
  
  
}
#faq-section h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
  color: #002964;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Style for FAQ section */
.faq-container {
  max-width: 1100px;
  margin: auto;

}

/* Style for each FAQ item */
.faq {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

/* Style for FAQ item title */
.faq h3 {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 200;
  color: #19202c;
}
.faq p {
  padding-top: 5px;
  font-size: 15px;
  margin-bottom: 5px;
  text-transform:capitalize;
}

/* Style for FAQ item content */
.faq .answer {
  font-size: 16px;
  color: #666;
  display: none;
}

/* Plus icon style */
.toggle-answer {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

/* Change plus icon to minus icon when answer is visible */
.toggle-answer.active::before {
  content: "-";
}

/* Hover effect for plus icon */
.toggle-answer:hover::before {
  background-color: #ddd;
}

footer {
  background-color: #002964;
  color: #ffffff;
  padding: 15px;
  font-size: 20px;
  text-align: center;
}

.copyright {
  font-size: 17px;
  margin-top: auto;
  text-align: center;
}
